
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Pour vous</h1>

    {% if user and recommendedWebtoons is not empty %}
        <h2>Pour vous 🧠</h2>
        <div class="carousel">
            {% for webtoon in recommendedWebtoons %}
                <div class="carousel-item">
                    <a href="{{ path('webtoon_show', { slug: webtoon.slug }) }}">
                        <img src="{{ asset('images/' ~ webtoon.image) }}" alt="{{ webtoon.titre }}" class="carousel-image">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h1>Liste des Webtoons</h1>

    {% if webtoons is not empty %}

        {% for webtoon in webtoons %}
        <div class="webtoon">
            <div class="webtoon-card">
                <a href="webtoon/{{webtoon.slug}}">
                <h3>{{ webtoon.titre }}</h3>
                </a>
                <a href="webtoon/{{webtoon.slug}}">
                    <img src="{{ asset('images/' ~ (webtoon.image ? webtoon.image : 'Default.png')) }}" alt="{{ webtoon.titre }}" width="200">
                </a>
                <p>{{ webtoon.likes|length }} ❤️</p>
                <p>{{ webtoon.description }}</p>

                {% if webtoon.genre is not empty %}
                    <p><strong>Genres :</strong>
                        {% for genre in webtoon.genre %}
                            {{ genre.nom }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p><em>Aucun genre associé.</em></p>
                {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}

    {% else %}
        <p>Aucun webtoon trouvé.</p>
    {% endif %}
{% endblock %}
