<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon site Webtoon{% endblock %}</title>
        <style>
            header {
                background-color: #f5f5f5;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .menu-btn {
                padding: 8px 12px;
                background-color: #3498db;
                color: white;
                text-decoration: none;
                border-radius: 4px;
                margin: 0 3px 6px;
            }

            .menu-btn:hover {
                background-color: #2980b9;
            }
            .webtoon {
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 15px;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>

        

        <header>
            <div class="logo">
                <h1>MonWebtoon</h1>
            </div>
            <div class="menu">
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="menu-btn">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="menu-btn">S'inscrire</a>
                {% endif %}
            
            {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('webtoon_form') }}" class="menu-btn">
                    ✍️ Créer un Webtoon
                </a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('user_favoris') }}" class="menu-btn">
                    Mes Favoris
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_user_list') }}" class="menu-btn">Admin</a>
            {% endif %}

            </div>

            <a href="{{ path('home') }}" class="menu-btn">Accueil</a>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

    </body>
</html>
